<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.king.gou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ytxlog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ytxlog"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.frmMyActivity.ReChargeActivity" />
        <activity android:name=".ui.frmMyActivity.RechargeComfirmActivity" />
        <activity android:name=".ui.frmMyActivity.ApplyResultActivity" />
        <activity android:name=".ui.frmMyActivity.TixianAppliActivity" />
        <activity android:name=".ui.frmMyActivity.TikuanInfoActivity" />
        <activity android:name=".ui.orderFrmActivity.GameJiluActivity" />
        <activity android:name=".ui.orderFrmActivity.ZhuiHaoActivity" />
        <activity android:name=".ui.orderFrmActivity.TouZhuResultActivity" />
        <activity android:name=".ui.orderFrmActivity.LotteryBaoBiaoActivity" />
        <activity android:name=".ui.orderFrmActivity.CunQuActivity" />
        <activity android:name=".ui.orderFrmActivity.GrzbActivity" />
        <activity android:name=".ui.orderFrmActivity.FanDianActivity" />
        <activity android:name=".ui.orderFrmActivity.MyActivityActivity" />
        <activity android:name=".ui.orderFrmActivity.ZhuanZhangjlActivity" />
        <activity android:name=".ui.proxyfragment.ProxyHomeActivity" />
        <activity android:name=".ui.proxyfragment.UserCenterActivity" />
        <activity android:name=".ui.proxyfragment.TeamBaoBiaoActivity" />
        <activity android:name=".ui.proxyfragment.VIPManActivity" />
        <activity android:name=".ui.proxyfragment.TeamZBJLActivity" />
        <activity android:name=".ui.proxyfragment.TeamGamejlActivity" />
        <activity android:name=".ui.proxyfragment.TeamZhuihaojlActivity" />
        <activity android:name=".ui.proxyfragment.TeamCunQuActivity" />
        <activity android:name=".ui.proxyfragment.ActivityTeamActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.settingfragment.UpdatePwdActivity" />
        <activity android:name=".ui.settingfragment.UpdateMoneyPwdActivity" />
        <activity android:name=".ui.settingfragment.MoneyProtectActivity" />
        <activity android:name=".ui.settingfragment.UpdateNickNameActivity" />
        <activity android:name=".ui.AddGameActivity" />
        <activity android:name=".ui.frmMyActivity.NoticeActivity" />
        <activity android:name=".ui.GameCenterActivity" />

        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity android:name=".ui.frmMyActivity.ZhuanZhangActivity" />
        <activity android:name=".ui.frmMyActivity.MessageActivity" />
        <activity android:name=".ui.frmMyActivity.NewMessageActivity" />
        <activity android:name=".ui.frmMyActivity.NoticeContentActivity" />
        <activity android:name=".ui.LotteryZhuiHaoActivity" />
        <activity android:name=".ui.settingfragment.UpDateFirstPwdActivity" />
        <activity android:name=".ui.CheckSafePwdActivity" />
        <activity android:name=".ui.UpDataSafePwdActivity" />
        <activity android:name=".ui.settingfragment.BankCardManActivity" />
        <activity android:name=".ui.settingfragment.SaveCardActivity" />
        <activity android:name=".ui.frmMyActivity.ChatUserActivity" />
        <activity android:name=".ui.gameAcVpFrms.ZhuiHaoDetailActivity" />
        <activity android:name=".ui.gameAcVpFrms.ZhuiHaoTouZhuActivity" />
        <activity android:name=".ui.orderFrmActivity.AccountChangeDetailActivity" />
        <activity android:name=".ui.orderFrmActivity.LotteryLossActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.proxyfragment.AddNewTeamUserActivity" />
        <activity android:name=".ui.proxyfragment.TeamLotteryLossActivity" />
        <activity android:name=".ui.proxyfragment.TeamActivityActivity" />
        <activity android:name=".ui.proxyfragment.ActivityDetailsActivity" />
        <activity android:name=".ui.proxyfragment.GameReWardActivity" />
        <activity android:name=".ui.proxyfragment.RecordListActivity" />
        <activity android:name=".ui.frmMyActivity.WithDrawActivity" />
        <activity android:name=".ui.settingfragment.ResetPwdActivity" />
        <activity android:name=".ui.proxyfragment.VIPAccountChangeActivity" />
        <activity android:name=".ui.proxyfragment.ShareDataActivity" />
        <activity android:name=".ui.settingfragment.AboutUsActivity" />
        <activity android:name=".ui.settingfragment.AboutUsWebActivity" />
        <activity android:name=".ui.frmMyActivity.GetSendMsgActivity"></activity>
    </application>

</manifest>